:root {
    --primary-color: #597D7C;
    --secondary-color: #386775;
    --third-color: #20504E;
    --fourd-color: #193D31;
    --fifth-color: #17292B;
    --sixth-color: #0D0E14;
    --seventh-color: #252933;
    --eight-color: #404556;
    --nineth-color: #60515C;
    --tenth-color: #777076;
    --title-primary: #ffcd26;
    --title-secondary: #ffa51d;
    --prueba: #E1FEA6;
}