:root {
    --primary-color: #2C374B;
    --secondary-color: #151B25;
    --third-color: #19212E;
    --fourd-color: #212D40;
    --fifth-color: #273246;
    --sixth-color: #11151C;
    --seventh-color: #151B25;
    --eight-color: #19212E;
    --nineth-color: #212D40;
    --tenth-color: #273246;
    --title-primary: #ffcd26;
    --title-secondary: #ffa51d;
}