:root {
    --primary-color: #0466C8;
    --secondary-color: #0353A4;
    --third-color: #023E7D;
    --fourd-color: #002855;
    --fifth-color: #001845;
    --sixth-color: #001233;
    --seventh-color: #33415C;
    --eight-color: #5C677D;
    --nineth-color: #7D8597;
    --tenth-color: #979DAC;
    --title-primary: #ffcd26;
    --title-secondary: #ffa51d;
}