* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Blinker";
    background-color: var(--seventh-color);
}

* a {
    text-decoration: none;
    text-decoration-style: none;
    font-family: "Bauhaus Bold BT";
}

* :hover {
    transition: all 0.9s;
}

*>button::-moz-focus-inner {
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    transition: all 0.9s;
}

h1 {
    font-family: "Blanka";
    font-size: 3em;
    color: var(--title-primary);
}

h2 {
    font-family: "Blinker";
    font-size: 2.5em;
    color: var(--fourd-color);
}

h3 {
    font-family: "Blinker";
    font-size: 2em;
    color: var(--title-secondary);
}

h4 {
    font-family: "Bauhaus Bold BT";
    font-size: 1.5em;
    color: var(--title-secondary);
}

h5 {
    font-family: "Bauhaus Bold BT";
    font-size: 1.25em;
    color: var(--sixth-color);
}

p {
    font-size: 30px;
    font-family: "Blanka" Arial,
        Helvetica,
        sans-serif;
    font-style: italic;
    color: var(--tenth-color);
}

span {
    font-size: 35px;
    font-family: "Blanka" Arial,
        Helvetica,
        sans-serif;
    font-style: bold italic;
    color: var(--primary-color);
}

#main {
    background-color: var(--bg-color);
}